/*Colors to use: #00568c, #009e66, #ffffff, #000000, #3d3d3d*/
.boxes{
background-color:#ffffff;
margin: 15px 30px 15px 30px;
padding: 15px 30px 15px 30px;
}
.item{
    background: linear-gradient(135deg, var(#00568c), var(#008e66));
    color: var(#fff);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}
.item:nth-child(3n){
    background: linear-gradient(135deg, var(#008e66), var(#00568c));
}

#ec-desc{
    margin: 15px 30px 15px 30px;
padding: 50px 50px 50px 50px;
}
.thinner{
padding: 100px;
margin:75px 0px 75px 0px
}
#home{
    margin: 75px;
}
.techStack{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}